<div class="container">
    <h1>Calculadora</h1>
    <form action="">
        <div class="form-group">
        <div class="row">
            <label class="alejandro" for="sumandoUno">Sumando 1</label>
            <input type="number" class="form-control" placeholder="Sumando 1" id="sumandoUno" name="sumandoUno" [(ngModel)]="sumando1"> 
        </div>
    </div>
    <div class="form-group">
        <div class="row">
                <label class="alejandro" for="sumandoDos">Sumando 2</label>
                <input type="number" class="form-control" placeholder="Sumando 2" id="sumandoDos" name="sumandoDos"
                    [(ngModel)]="sumando2">
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-info" (click)="sumar()">Sumar</button>
            <button type="reset" class="btn btn-success" (click)="activarresultado()">Borrar</button>
        </div>
    </form>
    <div class="row" *ngIf="showResult">
        <label class="alejandro"  for="resultado" >Resultado : {{resultado}} </label>
    </div>







</div>
