

<section id="pantalla-dividida" class="pantalla-dividida">
    <div class="izquierda">
        <div class="texto">
            <h1>¿Quieres viajar?</h1>
            <p>Descubre los mejores sitios para que viajes y te sientas como en casa</p>
            <a href='#/guest' class="btn btn-primary btn-fill btn-lg" role="button" >Ingresa como GUEST</a>
         
        </div>
    </div>
    <div class="derecha">
        <div class="texto">
            <h1>¿Quieres hospedar?</h1>
            <p>Publica tu casa como un sitio agradable para acoger maravillosas personas del mundo </p>
            <a href="#/host" class="btn btn-primary btn-fill btn-lg" role="button" >Ingresa como HOST</a>
            
        </div>
    </div>
</section>    
    <footer-cmp></footer-cmp>

